:root  {
    /*palette de couleurs charte graphique*/
    --primary-color: #FABA35;
    --secondary-color: #E6635A;
    --terc-color:#021A3A;

    /*TYPOGRAPHIE*/
    --primary-font: "Gotham", serif;
}
/* Effet hover : agrandir l'image légèrement */
@font-face {
    font-family:'GothamLight';
    src: url('/assets/fonts/Gotham-Light.otf');
}
@font-face {
    font-family:'GothamBook';
    src: url('/assets/fonts/Gotham-BookItalic.otf');
}
@font-face {
    font-family:'GothamThin';
    src: url('/assets/fonts/Gotham-Thin.otf');
}
@font-face {
    font-family:'GothamX';
    src: url('/assets/fonts/Gotham-XLight.otf');
}

.logo{
    width: 40%;
}
* {
    background-color: transparent !important;
}
.img-hover:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
body{
    background: black !important;
}


.lien{
    color: white !important;
    font-size: 25px !important;
    font-family:'GothamLight', sans-serif !important;
}
.lien:hover{
    color: #FEC735 !important;
    transition: transform 0.2s ease !important;
}

.accordion {
    background-color: transparent !important;
}

.accordion-item {
    background-color: transparent !important;
    border: none;
}

.accordion-button {
    background-color: transparent !important; /* Légèrement transparent */
    color: white !important;
    font-family: 'GothamLight', sans-serif !important;
    font-size: 30px !important;
}
.accordion-button:hover {
    background-color: transparent !important; /* Légèrement transparent */
    color: #FEC735 !important;
    font-family: 'GothamLight', sans-serif !important;
    font-size: 30px !important;
}
body {
    background: url('assets/img/selune.jpg') no-repeat center center fixed;
    background-size: cover;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}


.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-body {
    background-color: transparent !important;
    color: white !important;
    font-family: 'GothamBook', sans-serif !important;
    font-size: 25px !important;
}
.card:hover{
    border-color: #FEC735 !important;
}
button:hover{
    border-color: #FEC735 !important;
    color: #FEC735 !important;
}
.bic{
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
}
.bic:hover{
    border-color: #FABA35 !important;
    color: #FABA35 !important;
}